# Node
node_modules
npm-debug.log
*.log

# Git & dev stuff
.git
.gitignore
.vscode
.vs
.env
*.env

# Docker / Compose files
Dockerfile
Dockerfile.*
docker-compose*
compose*

# Build artifacts
dist
obj
charts

# IDE
.classpath
.project
.settings
.toolstarget
*.user

# Other configs
*.dbmdl
*.jfm
secrets.dev.yaml
values.dev.yaml

# Docs
README.md
LICENSE
